body {
    background-image: url('retina_wood.png');
    /* Repite la textura para cubrir todo el fondo */
    background-repeat: repeat;
}

/* Estilo para el cursor de puntero */
.list-group-item,
.genre-item,
.view-details-button,
.add-to-favorites-button {
    cursor: pointer;
}

/* Estilo para la barra lateral de géneros */
.genres-container {
    display: flex;
    /* Muestra los elementos en una línea horizontal */
    overflow-x: auto;
    /* Hace que los elementos sean desplazables horizontalmente si no caben en la pantalla */
    white-space: nowrap;
    /* Evita que los elementos se rompan en varias líneas */
}

.genre-item {
    margin-right: 10px;
    /* Espacio entre los elementos de género */
}

/* Estilo para la lista de películas */
#movies-list {
    display: flex;
    /* Muestra las películas en una línea horizontal */
    flex-wrap: wrap;
    /* Permite que las películas se envuelvan a la siguiente línea si no caben */
    justify-content: space-between;
    /* Espacio entre las tarjetas de película */
}

.list-group-item {
    margin-right: 10px;
    /* Espacio entre las películas */
}

/* Estilo para el contenedor de la imagen de la película */
/* Estilos para las tarjetas de película */
.movie-card {
    width: 180px;
    /* Ancho de cada card */
    height: 320px;
    /* Altura de cada card */
    margin: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out;
    position: relative;
    overflow: hidden;
}

/* Estilos para el contenedor del póster de la película */
.movie-image-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

/* Estilos para la imagen de la película (póster) */
.movie-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Estilos para el contenedor de la información de la película */
.movie-info-container {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    padding: 8px;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
}

/* Estilos para mostrar la información al pasar el mouse por encima */
.movie-card:hover .movie-info-container {
    opacity: 1;
}

.movie-card {
    cursor: pointer;
}
/* Estilos para los botones */
.btn {
    font-size: 14px;
    padding: 8px 12px;
    border-radius: 4px;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}

.btn-danger {
    background-color: #dc3545;
    border-color: #dc3545;
}

.btn-danger:hover {
    background-color: #b92c38;
    border-color: #b92c38;
}


/* Estilos para pantallas medianas (entre 576px y 767px de ancho) */
@media (min-width: 576px) and (max-width: 767px) {
    .movie-card {
        width: 150px;
        height: 280px;
        margin: 5px;
    }

    /* Otros estilos para pantallas medianas */
}

/* Estilos para pantallas pequeñas (menos de 576px de ancho) */
@media (max-width: 575px) {
    .movie-card {
        width: 100%;
        height: auto;
        margin: 5px;
    }

    /* Otros estilos para pantallas pequeñas */
}